<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./login.css">
    <title>Coding Trsdffacker</title>
</head>

<body>
    <header>Coding Tracker</header>

    <main>
        <form action="/" method="post" id="addingForm">
            <label for="inputDate">Date:</label>
            <input type="date" name="date" id="inputDate" required> <br>

            <label for="inputProblemName">Problem Name</label>
            <input type="text" name="problemName" id="inputProblemName" required> <br>

            <label for="inputProblemLink">Problem Link</label>
            <input type="url" name="problemLink" id="inputProblemLink" required> <br>

            <label for="inputPlatform">Choose Platform:</label>
            <select name="platform" id="inputPlatform">
                <option selected disabled hidden>Select</option>
                <option value="LeetCode">LeetCode</option>
                <option value="InterviewBit">InterviewBit</option>
                <option value="CodeChef">Codechef</option>
                <option value="CodeForces">CodeForeces</option>
                <option value="GFG">GeeksForGeeks</option>
            </select> <br>

            <div class="checkboxes">
                <input type="checkbox" name="tags" id="inputMath" value="Math">
                <label for="inputMath">Math</label>
                <input type="checkbox" name="tags" id="inputBitManipulation" value="Bit Manipulation">
                <label for="inputBitManipulation">Bit Manipulation</label>
                <input type="checkbox" name="tags" id="inputBacktracking" value="Backtracking">
                <label for="inputBacktracking">Backtracking</label>
                <input type="checkbox" name="tags" id="inputArrays" value="Arrays">
                <label for="inputArrays">Arrays</label>
                <input type="checkbox" name="tags" id="inputStrings" value="Strings">
                <label for="inputStrings">Strings</label>
                <input type="checkbox" name="tags" id="inputBinarySearch" value="Binary Search">
                <label for="inputBinarySearch">Binary Search</label>
                <input type="checkbox" name="tags" id="inputStacks" value="Stacks">
                <label for="inputStacks">Stacks</label>
                <input type="checkbox" name="tags" id="inputQueues" value="Queues">
                <label for="inputQueues">Queues</label>
                <input type="checkbox" name="tags" id="inputHashing" value="Hashing">
                <label for="inputHashing">Hashing</label>
                <input type="checkbox" name="tags" id="inputHeaps" value="Heaps">
                <label for="inputHeaps">Heaps</label>
                <input type="checkbox" name="tags" id="inputTrees" value="Trees">
                <label for="inputTrees">Trees</label>
                <input type="checkbox" name="tags" id="inputGreedy" value="Greedy">
                <label for="inputGreedy">Greedy</label>
                <input type="checkbox" name="tags" id="inputDynamicProgramming" value="Dynamic Programming">
                <label for="inputDynamicProgramming">Dynamic Programming</label>
                <input type="checkbox" name="tags" id="inputGraphs" value="Graphs">
                <label for="inputGraphs">Graphs</label>
            </div>
            <br><br>

            <button type="submit">SUBMIT</button>
        </form>
        <section>
            <form action="/display" method="post" id="fetchingForm">
                <label for="date">Date</label>
                <input type="date" name="date" id="date">

                <label for="platform">Choose Platform:</label>
                <select name="platform" id="platform">
                    <option selected disabled hidden>Select</option>
                    <option value="LeetCode">LeetCode</option>
                    <option value="InterviewBit">InterviewBit</option>
                    <option value="CodeChef">Codechef</option>
                    <option value="CodeForces">CodeForeces</option>
                    <option value="GFG">GeeksForGeeks</option>
                </select>

                <div class="checkboxes">
                    <input type="checkbox" name="tags" id="math" value="Math">
                    <label for="math">Math</label>
                    <input type="checkbox" name="tags" id="bitManipulation" value="Bit Manipulation">
                    <label for="bitManipulation">Bit Manipulation</label>
                    <input type="checkbox" name="tags" id="bakctracking" value="Backtracking">
                    <label for="bakctracking">Backtracking</label>
                    <input type="checkbox" name="tags" id="arrays" value="Arrays">
                    <label for="arrays">Arrays</label>
                    <input type="checkbox" name="tags" id="strings" value="Strings">
                    <label for="strings">Strings</label>
                    <input type="checkbox" name="tags" id="binarySearch" value="Binary Search">
                    <label for="binarySearch">Binary Search</label>
                    <input type="checkbox" name="tags" id="stack" value="Stacks">
                    <label for="stack">Stacks</label>
                    <input type="checkbox" name="tags" id="queues" value="Queues">
                    <label for="queues">Queues</label>
                    <input type="checkbox" name="tags" id="hashing" value="Hashing">
                    <label for="hashing">Hashing</label>
                    <input type="checkbox" name="tags" id="heaps" value="Heaps">
                    <label for="heaps">Heaps</label>
                    <input type="checkbox" name="tags" id="trees" value="Trees">
                    <label for="trees">Trees</label>
                    <input type="checkbox" name="tags" id="greedy" value="Greedy">
                    <label for="greedy">Greedy</label>
                    <input type="checkbox" name="tags" id="dynamicProgramming" value="Dynamic Programming">
                    <label for="dynamicProgramming">Dynamic Programming</label>
                    <input type="checkbox" name="tags" id="graphs" value="Graphs">
                    <label for="graphs">Graphs</label>
                    <button type="submit">FETCH</button>
                </div>
            </form>
            <table>
                <thead>
                    <th>S.No</th>
                    <th>Problem</th>
                    <th>Platform</th>
                    <th>Tags</th>
                    <th>Date Solved</th>
                </thead>
                <tbody>
                    <% for(let i=0; i<problems.length; i++) { %>
                        <tr>
                            <td>
                                <%=i %>
                            </td>
                            <td><a href=<%=problems[i].problemLink%>><%=problems[i].problemName %></a></td>
                            <td>
                                <%=problems[i].platform %>
                            </td>
                            <td>
                                <%=problems[i].tags %>
                            </td>
                            <td>
                                <%=problems[i].date %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section>
    </main>
    <footer>Copyright lawda</footer>
</body>

</html>